.window-header {
  height: 40px;
  width: 100%;
  background: #29557F;
  color: white;
  font-size: 24px;
}

.contacts-list-container {
  border-right: 1px black solid;
  width: 42%;
  height: 94vh;
  float: right;
  overflow: auto;
}

.contacts-list-container  .contacts-list {
  list-style: none;
  color: black;
}
.contacts-list-container  .contacts-list  li {
  clear: both;
}
.contacts-list-container  .contacts-list  li  a.contact {
  display: block;
  color: black;
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 15px;
}

.contacts-list-container  .contacts-list  li  a.contact, .contacts-list-container  .contacts-list  li  a.contact:visited,
.contacts-list-container  .contacts-list  li  a.contact:active, .contacts-list-container  .contacts-list  li  a.contact:hover,
.contacts-list-container  .contacts-list  li  a.contact:link {
  text-decoration: none;
}

.contacts-list-container  .contacts-list  li  a.contact:hover {
  color : grey;
  opacity: 0.8;
}

.contacts-details-container {
  border-left: 1px black solid;
  width: 42%;
  height: 100vh;
  float: right;
}

#organisation-details, #person-details {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 18px;
}

#organisation-details .org-details, #person-details .person-details {
  padding-left: 180px;
}

#organisation-about, #person-about {
  width: 90%;
  height: 40%;
  padding-top: 60px;
  padding-left: 40px;
  font-size: 16px;
}

.buttons-container {
  width: 44%;
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.buttons-container .btn {
  width: 125px;
}

.contact-circle-sm {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 52px;
  color: white;
  line-height: 80px;
  text-align: center;
  background: #29557F;
  float: left;
}

.contact-circle-lg {
  margin-right: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 100px;
  color: white;
  line-height: 150px;
  text-align: center;
  background: #29557F;
  float: left;
}
