body {
  overflow: hidden;
}

#sidebar {
  width : 16%;
  height: 100vh;
  margin: 0;
  margin-top: -6px;
  padding: 0;
  float: left;
}

#sidebar-menu {
  height: 95%;
  width: 100%;
  background-color: #29557F;
  margin-top: 2%;
  padding: 0;
  overflow-y: auto;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: Georgia, Serif;
  font-size: 20px;
}

.list-item {
  height: 60px;
  width: 100%;
  background-color: #0081FF;
}

.arrow {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  animation: turnRight 0.3s;
}

.arrow.active {
  animation: turnDown 0.3s;
}

.sublist {
  max-height: 0;
  opacity: 0;
  animation: slideUp 1s;
  display: none;
}

.sublist.active {
  max-height: 900px;
  opacity: 1;
  animation: slideDown 1s;
  display: block;
}

.sublist-item {
  background-color: #4CA7FF;
}

.sublist-item.active > :first-child {
  color: white;
}

.spinner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.spinner {
  border: 8px solid #F3F3F3;
  border-top: 8px solid #29557F;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 25%;
  animation: spin 1s linear infinite;
}

.error {
  position: absolute;
  top: -55px;
  width: 100%;
  z-index: 9999;
  text-align: center;
  animation: slideUpError 0.5s ease-in;
}

.error.active {
  top: 0;
  animation: slideDownError 0.5s ease-out;
}

a.sidebar {
  display: block;
  color: black;
  height: 100%;
  margin-left: 5px;
  padding-top: 15px;
}

a.sidebar:visited, a.sidebar:link {
  color: black;
  text-decoration: none;
}

a.sidebar:hover, a.sidebar:active {
  color: white;
  text-decoration: none;
}

li.sidebar {
  margin-top: 5px;
}

@keyframes slideDown {
  0%    { max-height: 0; opacity: 0; }
  80%   { max-height: 900px; opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes slideUp {
  0%    { opacity: 1; max-height: 900px; }
  25%   { opacity: 0; }
  100%  { max-height: 0; }
}

@keyframes turnDown {
  100%  { transform: rotate(90deg); }
}

@keyframes turnRight {
  100%  { transform: rotate(-90deg); }
}

@keyframes spin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes slideDownError {
  0%    { top: -55px; }
  100%  { top: 0; }
}

@keyframes slideUpError {
  0%    { top: 0; }
  100%  { top: -55px; }
}
