{% extends 'master.html' %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %}

{% block content %}
  <div id="contacts-container">
    {% include 'organisations.html' %}
  </div>

  <div class="modal fade" id="org-delete-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Organisation</h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <a id="delete-org-confirmed" href="#" class="btn btn-success">Confirm</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#org-delete-confirmation">Cancel</a>
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
   </div><!-- org-delete-confirmation -->

  <div class="modal fade" id="person-delete-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Person</h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <a id="delete-person-confirmed" href="#" class="btn btn-success">Confirm</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#person-delete-confirmation">Cancel</a>
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- person-delete-confirmation -->
{% endblock %}

{% block footer %}
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
