<!DOCTYPE>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
    {% block header %} {% endblock %}
    <title>Address Book</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'sidebar.html' %}

    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/lib/jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    {% block footer %} {% endblock %}
  </body>
</html>
