<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <li><a class="navbar-brand" href="#"><i class="fa fa-address-book fa-large"></i> Address Book</a></li>
    </div><!-- navbar-header -->
    <ul class="nav navbar-nav navbar-right">

    </ul><!-- nav navbar-nav navbar-right -->
  </div><!-- container-fluid -->
</nav>
