<div class="modal fade" id="org-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% if organisation != None %} Edit organisation {% else %} New organisation {% endif %}</h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name" class="control-label">Name</label>
              <input type="text" class="form-control" id="name" value="{{ organisation.name }}" />
            </div>
            <div class="form-group">
              <label for="email" class="control-label">Email</label>
              <input type="text" class="form-control" id="email" value="{{ organisation.email }}"/>
            </div>
            <div class="form-group">
              <label for="tel-country-code" class="control-label">Tel country code</label>
              <input type="text" class="form-control" id="tel-country-code" value="{{ organisation.tel_country_code }}"/>
            </div>
            <div class="form-group">
              <label for="telephone" class="control-label">Tel</label>
              <input type="text" class="form-control" id="telephone" value="{{ organisation.telephone }}"/>
            </div>
            <div class="form-group col-sm-3" style="margin-left: -12px">
              <label for="Street number" class="control-label">Street number</label>
              <input type="text" class="form-control" id="str-number" value="{{ organisation.str_number }}"/>
            </div>
            <div class="form-group col-sm-9">
              <label for="str-name" class="control-label">Street name</label>
              <input type="text" class="form-control" id="str-name" value="{{ organisation.str_name }}"/>
            </div>
            <div class="form-group">
              <label for="city" class="control-label">City</label>
              <input type="text" class="form-control" id="city" value="{{ organisation.city }}"/>
            </div>
            <div class="form-group">
              <label for="post-code" class="control-label">Post code</label>
              <input type="text" class="form-control" id="post-code" value="{{ organisation.post_code }}"/>
            </div>
            <div class="form-group">
              <label for="country" class="control-label">Country</label>
              <input type="text" class="form-control" id="country" value="{{ organisation.country }}"/>
            </div>
            <div class="form-group">
              <label for="about" class="control-label">About</label>
              <textarea class="form-control" rows="3" id="about">{{ organisation.about }}</textarea>
            </div>
          </form>
        </div><!-- modal-body -->
        <div class="modal-footer">
          <button {% if organisation != None %} id="update-org-form" {% else %} id="create-org-form" {% endif %} class="btn btn-success">{% if organisation != None %} UPDATE {% else %} CREATE {% endif %}</button>
          <button id="cancel-org-update" class="btn btn-danger" data-toggle="modal" data-target="#org-edit">CANCEL</button>
        </div><!-- modal-footer -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- org-edit -->
