<div class="window-header"><div style="margin-left: 10px">Organisations</div></div>
<ul class="contacts-list">
  {% for organisation in organisations %}
    <li><a href="#" class="contact organisation" id="{{ organisation.id }}"><div class="contact-circle-sm">{{ organisation.name[0] }}</div><div style="margin-top: 10px;"><strong>{{ organisation.name }}</strong><br>({{ organisation.tel_country_code}}) {{ organisation.telephone }}<br>{{ organisation.city }}</div></a></li>
  {% endfor %}
</ul>
