<div id="organisation-details">
  <input type="hidden" id="{{ organisation.id }}">
  <div class="contact-circle-lg">{{ organisation.name[0] }}</div>
  <div class="org-details"><strong>{{ organisation.name }}</strong><br>{{ organisation.email }}<br>{{ organisation.tel_country_code }} {{ organisation.telephone }}
  <br>{{ organisation.str_number }} {{ organisation.str_name }}<br>{{ organisation.post_code }}<br>{{ organisation.city|upper }}
  <br>{{ organisation.country }}</div>
</div>
<div id="organisation-about">{{ organisation.about }}</div>
<div class="buttons-container">
  <a href="#" id="org-people-btn" class="btn btn-primary">SHOW PEOPLE</a>
  <a href="#" id="org-edit-btn" class="btn btn-warning">EDIT</a>
  <a href="#" id="org-delete-btn" class="btn btn-danger" data-toggle="modal" data-target="#org-delete-confirmation">DELETE</a>
</div>
