<div class="window-header"><div style="margin-left: 10px">People</div></div>
<ul class="contacts-list">
  {% for person in people %}
    <li><a href="#" class="contact person" id="{{ person.id }}"><div class="contact-circle-sm">{{ person.first_name[0] }}</div><div style="margin-top: 10px;"><strong>{{ person.title }} {{ person.first_name }} {{ person.last_name }}</strong><br>({{ person.tel_country_code}}) {{ person.telephone }}<br>{{ person.organisation.name }}</div></a></li>
  {% endfor %}
</ul>
