<div class="contacts-details-container">
  <div class="window-header"></div>
  <div id="contact-details-inner-container"></div>
</div>

<div class="contacts-list-container">
  {% include 'people_list.html' %}
</div>
