<div class="modal fade" id="person-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{% if person != None %} Edit person {% else %} New person {% endif %}</h4>
        </div><!-- modal-header -->
        <div class="modal-body">
          <form>
            <div class="form-group col-sm-2" style="margin-left: -12px">
              <label for="title" class="control-label">Title</label>
              <input type="text" class="form-control" id="title" value="{{ person.title }}" />
            </div>
            <div class="form-group col-sm-5">
              <label for="first-name" class="control-label">First name</label>
              <input type="text" class="form-control" id="first-name" value="{{ person.first_name }}" />
            </div>
            <div class="form-group col-sm-5">
              <label for="last-name" class="control-label">Last name</label>
              <input type="text" class="form-control" id="last-name" value="{{ person.last_name }}" />
            </div>
            <div class="form-group">
              <label for="email" class="control-label">Email</label>
              <input type="text" class="form-control" id="email" value="{{ person.email }}"/>
            </div>
            <div class="form-group">
              <label for="tel-country-code" class="control-label">Tel country code</label>
              <input type="text" class="form-control" id="tel-country-code" value="{{ person.tel_country_code }}"/>
            </div>
            <div class="form-group">
              <label for="telephone" class="control-label">Tel</label>
              <input type="text" class="form-control" id="telephone" value="{{ person.telephone }}"/>
            </div>
            <div class="form-group col-sm-3" style="margin-left: -12px">
              <label for="Street number" class="control-label">Street number</label>
              <input type="text" class="form-control" id="str-number" value="{{ person.str_number }}"/>
            </div>
            <div class="form-group col-sm-2" style="margin-left: -12px">
              <label for="flat" class="control-label">Flat</label>
              <input type="text" class="form-control" id="flat" value="{{ person.flat }}"/>
            </div>
            <div class="form-group col-sm-7">
              <label for="str-name" class="control-label">Street name</label>
              <input type="text" class="form-control" id="str-name" value="{{ person.str_name }}"/>
            </div>
            <div class="form-group">
              <label for="city" class="control-label">City</label>
              <input type="text" class="form-control" id="city" value="{{ person.city }}"/>
            </div>
            <div class="form-group">
              <label for="post-code" class="control-label">Post code</label>
              <input type="text" class="form-control" id="post-code" value="{{ person.post_code }}"/>
            </div>
            <div class="form-group">
              <label for="country" class="control-label">Country</label>
              <input type="text" class="form-control" id="country" value="{{ person.country }}"/>
            </div>
            <div class="form-group">
              <label for="organisation" class="control-label">Organisation</label>
              <select class="form-control" id="organisation" style="width: 100%">
                <option value=""></option>
                {% for organisation in organisations %}
                <option value="{{ organisation.id }}" {% if person != None and person.organisation.id == organisation.id %} selected {% endif %}>{{ organisation.name }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div><!-- modal-body -->
        <div class="modal-footer">
          <button {% if person != None %} id="update-person-form" {% else %} id="create-person-form" {% endif %} class="btn btn-success">{% if person != None %} UPDATE {% else %} CREATE {% endif %}</button>
          <button id="cancel-person-update" class="btn btn-danger" data-toggle="modal" data-target="#person-edit">CANCEL</button>
        </div><!-- modal-footer -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- person-edit -->
