<div id="person-details">
  <input type="hidden" id="{{ person.id }}">
  <input type="hidden" id="organisation_id" data-organisation="{{ person.organisation.id }}">
  <div class="contact-circle-lg">{{ person.first_name[0] }}</div>
  <div class="person-details"><strong>{{ person.title }} {{ person.first_name }} {{ person.last_name }}</strong><br>{{ person.email }}
  <br>{{ person.tel_country_code }} {{ person.telephone }}
  <br>{{ person.str_number }}{{ person.flat }} {{ person.str_name }}<br>{{ person.post_code }}<br>{{ person.city|upper }}
  <br>{{ person.country }}</div>
</div>
<div id="organisation-about"><strong>Organisation {{ person.organisation.name }}</strong><br>{{ person.organisation.about }}</div>
<div class="buttons-container">
  <a href="#" id="org-btn" class="btn btn-primary">ORGANISATION</a>
  <a href="#" id="person-edit-btn" class="btn btn-warning">EDIT</a>
  <a href="#" id="person-delete-btn" class="btn btn-danger" data-toggle="modal" data-target="#person-delete-confirmation">DELETE</a>
</div>
