<div id="sidebar" class="container">
  <div id="sidebar-menu" class="container">
    <ul class="sidebar-list">
      <li id="organisations" class="sidebar list-item header">
        <a class="sidebar" href="#"><i class="fa fa-sitemap"></i> Organisations <i class="fa fa-chevron-circle-right arrow"></i></a>
      </li>
      <ul id="organisation-sublist" class="sidebar-list sublist">
        <li class="list-item sublist-item sidebar"><a class="sidebar" id="show-all-organisations" href="#">Show all</a></li>
        <li class="list-item sublist-item sidebar"><a class="sidebar" id="show-organisation-form" href="#">New organisation</a></li>
      </ul>

      <li id="people" class="sidebar list-item header">
        <a class="sidebar" href="#"><i class="fa fa-user"></i> People <i class="fa fa-chevron-circle-right arrow"></i></a>
      </li>
      <ul id="people-sublist" class="sidebar-list sublist">
        <li class="list-item sublist-item sidebar"><a class="sidebar" id="show-all-people" href="#">Show all</a></li>
        <li id="#new-person" class="list-item sublist-item sidebar"><a class="sidebar" id="show-person-form" href="#">New person</a></li>
      </ul>
    </ul>
  </div>
</div>
